# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
my_int_1 = 68
my_int_2 = 68
print(id(my_int_1), id(my_int_2))

132204713363792 132204713363792

### Відповідь:
Так, будуть, оскільки в пайтоні цілочисельні значення, що належать проміжку від -5 до 256, є "зарезервованими", тож оскільки вони використовуються дуже часто й можуть викликатися багато разів в межах одного скрипта, змінні, що містять однакові integer values із цього проміжка (68 в нашому випадку), завжди посилаються на одне й те саме місце в памʼяті, відповідно, мають однакові айдішники (id).

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [6]:
print(isinstance(True, int))
print(isinstance(False, bool))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [8]:
integer_value = 15
float_point_number = 2.97

addition_res = integer_value + float_point_number
subtraction_res = integer_value - float_point_number
multiplication_res = integer_value * float_point_number
division_res = integer_value / float_point_number
integer_division_res = integer_value // float_point_number
mod_division_res = integer_value % float_point_number
power_res = integer_value ** float_point_number

print(f'Given numbers: {integer_value}, {float_point_number}\n',
      f'Addition: {addition_res}\n',
      f'Subtraction: {subtraction_res}\n',
      f'Multiplication: {multiplication_res}\n',
      f'Division: {division_res}\n',
      f'Integer division: {integer_division_res}\n',
      f'Mod division: {mod_division_res}\n',
      f'Power: {power_res}'
      )

Given numbers: 15, 2.97
 Addition: 17.97
 Subtraction: 12.03
 Multiplication: 44.550000000000004
 Division: 5.05050505050505
 Integer division: 5.0
 Mod division: 0.14999999999999902
 Power: 3111.652135111005

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [10]:
float_to_int = int(float_point_number)
int_to_float = float(integer_value)
some_bool = False
bool_to_int = int(some_bool)

print(f'Float to int: {float_to_int}\n',
      f'Int to float: {int_to_float}\n',
      f'Bool to int: {bool_to_int}'
)

Float to int: 2
 Int to float: 15.0
 Bool to int: 0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [11]:
empty_string = ''
another_empty_string = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [13]:
string_with_apostrophe = "Mariia's book"
raw_string_with_apostrophe = r"Mariia's book"
print(string_with_apostrophe, '\n', raw_string_with_apostrophe)

Mariia's book
 Mariia's book

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [14]:
my_surname = 'Verbytska'
formatted_string = f'My surname is {my_surname}'
print(formatted_string)

My surname is Verbytska

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [17]:
dog_description = 'My dog is crazy'
list_dog_description = dog_description.lower().split()
print(list_dog_description)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [18]:
mode_1_list = [1, 2, 3, 4, 5]
mode_2_list = list([1, 2, 3])
print(len(mode_2_list))

3

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [19]:
mode_1_list.append(mode_2_list)
print(mode_1_list)

[1, 2, 3, 4, 5, [1, 2, 3]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [20]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
extracted_element = list_of_lists[2][0]
print(extracted_element)

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [23]:
crazy_list = [1, 3.5, 'Mariia', (10, 11), {55, 66, 77}, True, {'key': 'value'}, None, ['list', 'of', 'lists'], '\n']
sliced_list = crazy_list[2:8]
print(sliced_list)

['Mariia', (10, 11), {66, 77, 55}, True, {'key': 'value'}, None]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [27]:
one_element_tuple = (5, )
print(f'One element tuple: {one_element_tuple}')

One element tuple: (5,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

### Відповідь:
Схожості: упорядковані, можуть містити елементи різних типів, можна звертатися до елемента однозначно за його індексом, обидві структури допускають наявність повторюваних елементів.

Відмінності: список можна змінювати після ініціалізації, кортеж – незмінний => будь-які операції з кортежом дають новий кортеж.

Тож список зручно використовувати коли нам постійно потрібно буде оновлювати його елементи, додавати нові чи вилучати інші, відповідно кортеж використовується коли такої необхідності немає, + кортежі можуть бути швидші.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [41]:
floating_point_tuple = (2.5, 7.8, 9.43, 2.6, 1.89, 0.555, 3.098, 123.456, 45.97, 0.0000005)
sliced_tuple = floating_point_tuple[8::-2]
sliced_tuple

(45.97, 3.098, 1.89, 9.43, 2.5)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [40]:
some_set = set()
some_set.add(95)
some_set.add(45)
some_set.add(115)
some_set

{45, 95, 115}

### Відповідь:
Так, множина є змінним типом даних => їх можна змінювати після ініціалізації обʼєкта.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [43]:
my_list = [1, 1, 2, 67, 67, 8, 9]
list_to_set = set(my_list)
print(f'Created object: {list_to_set}, its type: {type(list_to_set)}')

Created object: {1, 2, 67, 8, 9}, its type: <class 'set'>

### Відповідь:
У початковому списку містилися повторювані елементи: 1 і 67. У свою чергу множина не допускає дублікати елементів, тому при створенні множини із існуючого списка видалятимуться елементи, що зустрічаються у початковому списку більше ніж 1 раз.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [44]:
a_set = {1, 3, 5, 6, 7, 8, 9, 11}
b_set = {0, 2, 4, 6, 8, 9, 10, 11}
union_a_b = a_set.union(b_set)
intersection_a_b = a_set.intersection(b_set)
difference_a_b = a_set.difference(b_set)
symmetric_diff_a_b  = a_set.symmetric_difference(b_set)
print(f'Set a: {a_set}, set b: {b_set}\n',
      f'Union: {union_a_b}\n',
      f'Intersection: {intersection_a_b}\n',
      f'Difference: {difference_a_b}\n',
      f'Symmetric difference: {symmetric_diff_a_b}'
      )

Set a: {1, 3, 5, 6, 7, 8, 9, 11}, set b: {0, 2, 4, 6, 8, 9, 10, 11}
 Union: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
 Intersection: {8, 9, 11, 6}
 Difference: {1, 3, 5, 7}
 Symmetric difference: {0, 1, 2, 3, 4, 5, 7, 10}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [49]:
my_dict = dict()
my_dict['a'] = 2
my_dict['b'] = 3
my_dict['c'] = 4
my_dict

{'a': 2, 'b': 3, 'c': 4}

### Відповідь:
Ні, список не може бути ключем, оскільки список можна змінювати після ініціалізації обʼєкта, відповідно тоді було б можна зробити 2 однакові ключі в словнику, що є неприпустимим для типу даних dictionary. Окрім того, список не є hashable типом даних, а ключі словника мають бути hashable.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [56]:
complex_dict = {'key1': {'sub_key1': {'inner_key1': {'super_inner_key': 'the_most_inner_value'}}}, 'key2': 'basic_value'}
complex_dict['key1']['sub_key1']['inner_key1']['super_inner_key']

'the_most_inner_value'

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.